@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

button {
  background: none;
  border: none;
}

body {
  background-color: #674baf;
  background-image: url("/images/bg-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

body div.wrap {
  width: 85%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 150px 1fr 0.5fr 0.5fr 10% 0.5fr;
      grid-template-rows: 150px 1fr 0.5fr 0.5fr 10% 0.5fr;
  row-gap: 10px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body h1 {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  color: rgba(255, 255, 255, 0.868);
  font-size: 1.6em;
  text-align: center;
  line-height: 1.5;
  margin: 0 auto;
}

body p {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: rgba(255, 255, 255, 0.868);
  text-align: center;
  font-size: 1.2em;
  width: 100%;
  margin: 0 auto;
}

body #mockup {
  width: 100%;
  margin: 2vh auto;
}

body #logo {
  height: 25%;
  margin-bottom: 2vh;
  -ms-grid-column-align: left;
      justify-self: left;
}

body #registerBtn {
  color: #674baf;
  margin-top: 5%;
  height: 40px;
  width: 200px;
  border-radius: 25px;
  background-color: #fff;
}

body div.socials {
  color: white;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

body i {
  padding: 10px;
  margin: 0 2%;
  width: 20px;
  height: 20px;
  font-size: 120%;
  border: 2px solid white;
  border-radius: 50%;
  text-align: center;
  line-height: 400%;
}

@media (min-width: 760px) {
  body {
    background-color: #674baf;
    background-image: url("/images/bg-desktop.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-x: 50%;
  }
  body div.wrap {
    width: 90%;
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 150px 1fr 1fr;
        grid-template-columns: 150px 1fr 1fr;
    -ms-grid-rows: 120px 1fr 5vh;
        grid-template-rows: 120px 1fr 5vh;
    row-gap: 10px;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body h1 {
    font-size: 1.6em;
    text-align: center;
    line-height: inherit;
    margin: 0 auto;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
    -ms-grid-column: 3;
        grid-column-start: 3;
    grid-column-end: 4;
  }
  body p {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 0.868);
    text-align: center;
    font-size: 1.2em;
    width: 100%;
    margin: 0 auto;
  }
  body #mockup {
    width: 100%;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
  }
  body #logo {
    height: 40%;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
  }
}
/*# sourceMappingURL=style.css.map */