@import "_reset.scss";
@import "_variables";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  background-color: $Violet;
  background-image: url("/images/bg-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;

  div.wrap {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 1fr 0.5fr 0.5fr 10% 1fr;
    row-gap: 10px;
    justify-items: center;
    align-items: center;

  }

  h1 {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 0.868);
    font-size: 2em;
    text-align: center;
    line-height: 1.5;
    margin: 0 auto;
  }

  p {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 0.868);
    text-align: center;
    font-size: 1.5em;
    width: 100%;
    margin: 0 auto;
  }

  //img
  #mockup {
    width: 100%;
    margin: 0 auto;
  }

  #logo {
    // margin-left: 8%;
    height: 25%;
    margin-top: 5vh;
    margin-bottom: 2vh;
    justify-self: left;
  }

  #registerBtn {
    color: $Violet;
    margin-top: 5%;
    height: 40px;
    width: 200px;
    border-radius: 25px;
    background-color: #fff;
  }
}